# Rust
src-tauri/target/

# Node
node_modules/
dist/

# Generated
app-icon.png

# Project files
progress.txt

# Claude Code
.claude/

# Screenshots
*.jpg

# OS
.DS_Store
Thumbs.db

tests/

*.exe
*.msi
*gitignore

#progress
progress.txt